body {
    background-color: #1a1a1a;
    /* Fondo oscuro */
    color: #f8f9fa;
    /* Texto claro */
}

h2 {
    color: #ff7518;
    /* Naranja Halloween */
}

.table {
    background-color: #333;
}

.table th {
    background-color: #ff7518;
    /* Naranja para los encabezados */
}

.table tr:hover {
    background-color: #444;
    /* Color de fila al pasar el mouse */
}

.navbar {
    background-color: #000;
    /* Negro para la barra de navegación */
}

.navbar a {
    color: #ff7518;
    /* Enlaces naranjas */
}

.navbar a:hover {
    color: #fff;
    /* Cambia a blanco al pasar el mouse */
}

.card {
    background-color: #222;
    /* Color de fondo de las tarjetas */
    border: 1px solid #ff7518;
    /* Bordes naranjas */
}